:root{
    --primary-color: whitesmoke;
    --secondary-color: #ADD8E6;
    --third-color: #07404b;
    --fourth-color: #9ed3ce;
    --myfont-weight: bold;
    --myfont-size: 18px;
}


*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    width: 100%;
    background-color: red;
}